.center{
    text-align: center;
}

.grid{
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.banner {
    text-align: center;
    color: rgb(241 58 1);
    font-style: italic;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-top: 2.5rem;
}